* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}
div.container {
  padding: 1.5rem;
  margin: 1rem auto;
  width: 32rem;
  height: 55rem;
  display: grid;
  background-color: black;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  color: white;
  border-radius: 50px;
}
.ekran {
  /* border: 2px solid red; */
  grid-column: span 30;
  width: 30rem;
  height: 20rem;
  border-radius: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 2rem;
}
.ust {
  /* border: 2px solid white; */
  margin: 1rem;
  height: 50%;
  border-radius: 1rem 0;
  vertical-align: middle;
  font-size: 5rem;
  margin-right: 1rem;
}
.alt {
  height: 50%;
  border-radius: 1rem 0;
  font-size: 5rem;
  margin-right: 1rem;
  /* border: 2px solid blue; */
}
.btns {
  display: grid;
  height: 32rem;
  width: 28rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 0.5rem;
  margin: auto;
  margin-right: 3.4rem;
}
.tus {
  display: flex;
  grid-column: span 3;
  grid-row: span 2;
  background-color: #333;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}
.tus17 {
  align-items: center;
  justify-content: left;
  grid-column: span 6;
  border-radius: 3.5rem;
  padding-left: 2.5rem;
}
.tus1,
.tus2,
.tus3 {
  background-color: gray;
  color: black;
}
.tus4,
.tus8,
.tus12,
.tus16,
.tus19 {
  background-color: rgba(226, 147, 0, 0.767);
}
.tus:hover {
  cursor: pointer;
  opacity: 0.5;
}
